.onboarding {

  .logo {
    margin-top:10vh;
    text-align:center;
    img {
      display: inline-block;
      height: 5rem;    
    }
  }
  
  h2 {
    color: $basic-color-white;
    font-size: $font-size-x-medium;
    font-weight: 300;
    display: block;
    text-align:center;
  }

  .info {
    padding:5vw;

    & > button {
      margin-top:8vh;
    }
  }

  .no-internet {
    img {
      padding: 10rem;
    }
    p {
      color: $basic-color-white;
      font-size: $font-size-small;
      text-transform: uppercase;
    }
  }
}

