<ion-header>
    <ion-navbar>
        <button ion-button menuToggle="left"><ion-icon name="menu"></ion-icon></button>
        <ion-title>{{ 'TITLE.REQUEST_AMOUNT' | translate }}</ion-title>
        <bitpocket-logo></bitpocket-logo>
    </ion-navbar>
</ion-header>
<ion-content no-scroll>
        <div class="payment-specification">
            <div class="payment-currency" (click)="changeInputCurrency('FIAT')">
                <ion-checkbox [disabled]="true" checkbox-style [(ngModel)]="entryInFiat" ></ion-checkbox>
                <ion-label>{{ currency }}</ion-label>
            </div>
            <div class="payment-amount">
                <div [ngClass]="{active:entryInFiat}">
                    <span *ngIf="entryInFiat" dynamicFontSize [content]="digits + separator + decimals" maxFontSize="50" minFontSize="1">
                        <span clear class="number digits">{{ digits }}</span><span class="separator">{{ separator }}</span><span clear class="number decimals">{{ decimals }}</span>
                    </span>
                    <span dynamicFontSize [content]="exchangedAmount" maxFontSize="25" minFontSize="1" *ngIf="entryInBTC">{{ exchangedAmount }}</span>
                </div>
            </div>
            <div class="payment-currency" (click)="changeInputCurrency('BTC')">
                <ion-checkbox [disabled]="true" checkbox-style [(ngModel)]="entryInBTC"></ion-checkbox>
                <ion-label >{{ bitcoinUnit }}</ion-label>
            </div>
            <div class="payment-amount">
                <div [ngClass]="{active:entryInBTC}">
                    <span *ngIf="entryInBTC" dynamicFontSize [content]="digits + separator + decimals" maxFontSize="50" minFontSize="1">
                        <span clear class="number digits">{{ digits }}</span><span class="separator">{{ separator }}</span><span clear class="number decimals">{{ decimals }}</span>
                    </span>
                    <span dynamicFontSize [content]="exchangedAmount" maxFontSize="25" minFontSize="1" *ngIf="entryInFiat">{{ exchangedAmount }}</span>
                </div>
            </div>
        </div>

        <div class="divider-box">
            <div class="divider"></div>
        </div>

        <div class="numpad">
            <div class="numpad-row">
                <button ion-button color="number" class="numpad-button border-right" (click)="numberInput('1')">1</button>
                <button ion-button color="number" class="numpad-button border-right" (click)="numberInput('2')">2</button>
                <button ion-button color="number" class="numpad-button" (click)="numberInput('3')">3</button>
            </div>
            <div class="numpad-row">
                <button ion-button color="number" class="numpad-button border-right" (click)="numberInput('4')">4</button>
                <button ion-button color="number" class="numpad-button border-right" (click)="numberInput('5')">5</button>
                <button ion-button color="number" class="numpad-button" (click)="numberInput('6')">6</button>
            </div>
            <div class="numpad-row">
                <button ion-button color="number" class="numpad-button border-right" (click)="numberInput('7')">7</button>
                <button ion-button color="number" class="numpad-button border-right" (click)="numberInput('8')">8</button>
                <button ion-button color="number" class="numpad-button" (click)="numberInput('9')">9</button>
            </div>
            <div class="numpad-row">
                <button ion-button color="number-decimals" class="numpad-button" (click)="switchInput('decimals')">{{ separator }}</button>
                <button ion-button color="number" class="numpad-button border-right" (click)="numberInput('0')">0</button>
                <button ion-button color="number-backspaceinput" class="numpad-button border-right" (click)="backspaceInput()"><ion-icon name="backspace"></ion-icon></button>
            </div>
            <div class="numpad-row">
                <div class="numpad-button-row">
                    <button ion-button color="numpad-reset" class="numpad-primary-button text-uppercase" (click)="resetAmount()">{{ 'BUTTON.RESET' | translate }}</button>
                    <button ion-button color="numpad-request" class="numpad-primary-button text-uppercase" (click)="requestPayment()">{{ 'BUTTON.REQUEST_AMOUNT' | translate }}</button>
                </div>
            </div>           
            
        </div>
    
</ion-content>