<ion-header>
  <ion-navbar>
      <ion-buttons left>
          <button ion-button (click)="close()" class="bar-button-close"><ion-icon name="close"></ion-icon></button>
      </ion-buttons>
      <ion-title>{{ 'TITLE.TRANSACTION' | translate }}</ion-title>     
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ng-container *ngIf="transaction.paymentReferenceAmount > 0">
      <ion-list-header>
        {{ 'LIST_HEADING.PAYMENT' | translate }}
      </ion-list-header>
      <ion-item>{{ transaction.paymentReferenceCurrency }} {{ transaction.paymentReferenceAmount | bitpocketCurrency:currencySeparator:currencyThousandsPoint:2 }}</ion-item>
      <ion-item>{{ transaction.paymentStatus | translate }}</ion-item>
    </ng-container>
    <ion-list-header>
      {{ 'LIST_HEADING.TRANSACTION' | translate }}
    </ion-list-header>
    <ion-item>{{ currencySymbol }} {{ transaction.amount | bitpocketUnit:'BTC':currencySymbol | bitpocketCurrency:currencySeparator:currencyThousandsPoint:currencyPrecision }}</ion-item>
    <ion-item>{{ referenceCurrencySymbol }} {{ transaction.amount | bitpocketFiat:'BTC':referenceCurrencyRate | bitpocketCurrency:currencySeparator:currencyThousandsPoint }}</ion-item>
    <ion-item>{{ (transaction.timestamp * 1000) | date:dateTimeFormat }}</ion-item>
    <ion-item>
      <ng-container *ngIf="transaction.confirmations < 6">
        <ion-icon item-start class="icon-unconfirmed" name="checkmark-circle"></ion-icon> {{ 'LIST_TEXT.UNCONFIRMED' | translate }}
      </ng-container>
      <ng-container *ngIf="transaction.confirmations >= 6">
        <ion-icon item-start class="icon-confirmed" name="checkmark-circle"></ion-icon> {{ 'LIST_TEXT.CONFIRMED' | translate }}
      </ng-container>      
    </ion-item>
    <ion-item>
      <ng-container *ngIf="transaction.incomming">
        <ion-icon item-start name="ios-download-outline"></ion-icon> {{ 'LIST_TEXT.INCOMMING' | translate }}
      </ng-container>
      <ng-container *ngIf="!transaction.incomming">
        <ion-icon item-start name="ios-share-outline"></ion-icon> {{ 'LIST_TEXT.OUTOING' | translate }}
      </ng-container>
    </ion-item>
  </ion-list>  
</ion-content>