// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "components";
@import "main";

@import "../pages/amount/amount.scss";
@import "../pages/payment/payment.scss";
@import "../pages/history/history.scss";
@import "../pages/onboarding/onboarding.scss";


@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-path}/Ubuntu-R.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("#{$font-path}/Ubuntu-L.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("#{$font-path}/Ubuntu-M.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("#{$font-path}/Ubuntu-B.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu Condensed";
  font-style: normal;
  font-weight: normal;
  src: url("#{$font-path}/Ubuntu-C.ttf") format("truetype");
}


.menu-header {
  background-color: #434954;
  padding: 16px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.menu-header img {
  max-width: 200px;
  min-height: 115px;
  margin-left: -15px;
  padding: 25px 0 20px 0;
}
