$font-family-base: 'Ubuntu', sans-serif;
$font-family-md-base: $font-family-base;

$basic-color-white:                       #FFF;
$basic-color-black:                       #000;
$basic-design-color:                      rgba(106,109,122,1);
$basic-background-color-transparency:     rgba(255,255,255,0.2);

$background-color:      #FFF;

$button-border-radius:  6px;

$font-size-base:        1.5rem; //
$font-size-small:       2.0rem; //
$font-size-x-small:     2.5rem; //
$font-size-medium:      3.0rem; //
$font-size-x-medium:    3.5rem; //
$font-size-large:       4.0rem; //
$font-size-x-large:     4.5rem; //

$menu-md-background:            #FFF;
$menu-md-box-shadow-color:      rgba(0, 0, 0, .25);
$menu-md-box-shadow: 0 0 10px   $menu-md-box-shadow-color;

$toolbar-md-text-color:     $basic-design-color;

$list-md-text-color:        $basic-design-color;
$list-md-header-color:	    $basic-color-white;
$list-md-header-font-size:	$font-size-small;

$toggle-md-active-color:    $basic-design-color;

$button-md-color:           $basic-design-color;
$toolbar-md-button-color:   $basic-design-color;

$tabbar-md-item-icon-size: 2.8em;

$radio-md-color-off:    rgba(106,109,122,0.5);
$radio-md-color-on:     rgba(106,109,122,1);

$checkbox-md-icon-background-color-on:    rgba(106,109,122,0.5);
$checkbox-md-icon-background-color-off:   rgba(106,109,122,0.5);
$checkbox-md-icon-border-color-on:        rgba(106,109,122,1);
$checkbox-md-icon-border-color-off:       rgba(106,109,122,1);

$card-md-text-color:        $basic-design-color;
$card-md-title-text-color:  $basic-design-color;

// sizes
$screen-s-max: 359px; /* iPhone 5 - 5s Portrait */
$screen-m-max: 374px; /* Galaxy S3, S5, Note II,  - Portrait 360 bis 374*/
$screen-l-max: 767px; /* iPhone 6, 6s, 6Plus, Nexus 5X, Nexus 6P,  - Portrait 374 bis 767*/

$colors: (
  primary:      #333,
  secondary:    #6A6D7A,
  danger:       #f53d3d,
  success:      #008000,
  light:        #f4f4f4,
  dark:         #222,
  white:        #FFF,
  favorite:     #69BB7B,
  confirmed:    rgba(106,109,122,1),
  unconfirmed:  rgba(106,109,122,0.5),
  menu-item: (
          base:     $basic-design-color,                         //-> Background
          contrast: $basic-design-color,                         //-> Text
  ),
  menutoggle: (
          base:     $basic-design-color,                         //-> Background
          contrast: $basic-design-color,                         //-> Text
  ),
  number: (
          base:     $basic-design-color,                         //-> Background
          contrast: $basic-color-white,                          //-> Text
  ),
  number-decimals: (
          base:     $basic-background-color-transparency,        //-> Background
          contrast: $basic-color-white,                          //-> Text
  ),
  number-backspaceinput: (
          base:     $basic-background-color-transparency,         //-> Background
          contrast: $basic-color-white,                           //-> Text
  ),
  numbpad-reset: (
          base:     $basic-background-color-transparency,         //-> Background
          contrast: $basic-color-white,                           //-> Text
  ),
  numbpad-request: (
          base:     $basic-color-white,                           //-> Background
          contrast: $basic-design-color,                          //-> Text
  ),
  show-history: (
          base:     $basic-color-white,                           //-> Background
          contrast: $basic-design-color,                          //-> Text
  ),
  checkbox-style: (
          base:     $basic-color-white,                           //-> Background
          contrast: $basic-design-color,                          //-> Text
  )
);

