<ion-header>
    <ion-navbar>
        <button menuToggle="left"><ion-icon name="menu"></ion-icon></button>
        <ion-title>Settings</ion-title>
        <bitpocket-logo></bitpocket-logo>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-list>
        <button menu-item ion-item (click)="openPage(0)">
            <h2>General Settings</h2>
            <p>General settings for BitPocket</p>
        </button>
        <button menu-item ion-item (click)="openPage(1)">
            <h2>Currency</h2>
            <p>Select currency and exchange rate</p>
        </button>
        <ion-item menu-item>
            <ion-label (click)="openPage(2)">
                <h2>Static Address</h2>
                <p>Static address to receive payments</p>
            </ion-label>
            <ion-toggle [(ngModel)]="addressTypesChecked[0]" *ngIf="addressTypesEnabled[0]" item-right></ion-toggle>
        </ion-item>
        <ion-item menu-item>
            <ion-label (click)="openPage(3)">
                <h2>Master Public Key</h2>
                <p>Derive new address for each payment</p>
            </ion-label>
            <ion-toggle [(ngModel)]="addressTypesChecked[1]" *ngIf="addressTypesEnabled[1]" item-right></ion-toggle>
        </ion-item>
    </ion-list>
</ion-content>