
.amount {
    height:100%;
    width:100%;   
}

.amount-input {    
    height:30%;
    padding:0 25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.amount-input-form {
    text-align:center;
    font-size:2.4em;
    
    .number {
        display:inline-block;        
        margin:0;
        padding:0;        
        
        &.digits {
            text-align:right;
        }
        
        &.decimals {
        }                
    }
}

.amount-numpad {    
    height:70%; 
    padding:0 12%;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-content: space-between;
}

.amount-numpad-primary-button {
    flex:1 1 45%;    
    margin:0;
    font-size:1em;
    border-radius:0;
}

.amount-numpad-button {
   flex:0 1 62px;
   margin:0 5%;
   padding:0;
   height: 62px;
   font-size:1.8em;
   border-radius:100%;      
}