
.amount-numpad {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 65%;
    padding: 0 3.0rem;

    @media(max-width: $screen-l-max) {
        padding: 0 2.0rem;
    }
    @media(max-width: $screen-m-max) {
        padding: 0 3.0rem;
    }
    @media(max-width: $screen-s-max) {
        padding: 0 3.0rem;
    }

    .button-number-backspaceinput {
        font-size: $font-size-x-small;
    }
}

.amount-numpad-primary-button {
    font-size: $font-size-base;
    border-radius: $button-border-radius;
    margin: 2%;
    flex: 1 1 45%;
    &:nth-child(13) {
        flex: 1 1 30%;
    }
    &:nth-child(14) {
        flex: 1 1 60%;
    }
}

.amount-numpad-button {
    flex: 0 1 100px;
    margin: 0 6%;
    padding: 0;
    height: 100px;
    font-size: $font-size-x-medium;
    border-radius: 100%;

    @media(max-width: $screen-l-max) {
        flex: 0 1 70px;
        height: 70px;
    }
    @media(max-width: $screen-m-max) {
        flex: 0 1 60px;
        height: 60px;
    }
    @media(max-width: $screen-s-max) {
        flex: 0 1 50px;
        height: 50px;
    }
}



