.qrscanner {
    background:none;

    &-area {
        width:100%;
        height:85%;
        background: url(../assets/img/scanner.svg) no-repeat center center;
        background-size: contain;
    }
}