ion-nav ion-content, ion-modal ion-content {
  background: url(../assets/img/background.png) no-repeat center center;
  background-size: cover;
}

[no-scroll] {
  .scroll-content {
    overflow: hidden;
  }  
  ::-webkit-scrollbar,
    *::-webkit-scrollbar {
      display: none;
    }
}