@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  src: url("#{$ionicons-font-path}/Ubuntu-R.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("#{$ionicons-font-path}/Ubuntu-L.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("#{$ionicons-font-path}/Ubuntu-M.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("#{$ionicons-font-path}/Ubuntu-B.ttf") format("truetype");
}
@font-face {
  font-family: "Ubuntu Condensed";
  font-style: normal;
  font-weight: normal;
  src: url("#{$ionicons-font-path}/Ubuntu-C.ttf") format("truetype");
}