bitpocket-logo {
    display:block;
    position:absolute;
    top:10px;
    right:0px; 
       
    img {
        max-width:2rem;
        max-height:2rem;
        
        &.ios {
            margin-right:16px;
        }

        &.md {            
            margin-top:8px;
            margin-right:18px;
        }
    }

    &[loading] > img {
        -webkit-animation:spin 2s linear infinite;
        -moz-animation:spin 2s linear infinite;
        animation:spin 2s linear infinite;
        @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    }    
}
