.payment-specification {  
    display:flex;  
    flex-flow:row wrap;
    color: white;
    margin: 1rem 2rem;   

    @media(max-width: $screen-l-max) {
        margin: 2rem 4rem;
    }
    @media(max-width: $screen-m-max) {
        margin: 2rem 4rem;
    }
    @media(max-width: $screen-s-max) {
        margin: 0.8rem 1.8rem;
    }
    
    .payment-amount {
        line-height: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-basis:65%;
        text-align: right;
        font-size: $font-size-x-small;
        overflow: hidden;
        white-space: nowrap;
        
        span {
            //transition: all 200ms ease;
        }

        .active {            
            font-size: $font-size-x-large;  
            // transition: all 200ms ease;                      
        }
    }

    .payment-currency {
        flex-basis:35%;
        font-size: $font-size-x-small;
        overflow: hidden;
        min-height: 50px;

        &.vertical-align {
            line-height:50px;
        }
        
        ion-label {
            font-size: $font-size-small;
            margin-left:3px;
        }

        ion-checkbox, ion-label {
            display: inline-block;
            vertical-align: middle;
        }
    }

}