<ion-header>
    <ion-navbar>    
        <button ion-button menuToggle="left"><ion-icon name="menu"></ion-icon></button>
        <ion-title>{{ 'TITLE.HISTORY' | translate }}</ion-title>        
        <bitpocket-logo></bitpocket-logo>        
    </ion-navbar>
</ion-header>
<ion-content class="history">
    <ion-list *ngIf="transactions.length > 0">
        <ion-item-sliding *ngFor="let transaction of transactions; let i = index">
            <ion-item>
                <ion-icon item-left *ngIf="transaction.incomming" name="ios-download-outline"></ion-icon>
                <ion-icon item-left *ngIf="!transaction.incomming" name="ios-share-outline"></ion-icon>
                <h2>{{ currencySymbol }} {{ transaction.amount | bitpocketUnit:'BTC':currencySymbol | bitpocketCurrency:currencySeparator:currencyThousandsPoint:currencyPrecision }} <span>({{ referenceCurrencySymbol }} {{ transaction.amount | bitpocketFiat:'BTC':referenceCurrencyRate | bitpocketCurrency:currencySeparator:currencyThousandsPoint }})</span></h2>     
                <p><ion-icon [class.icon-unconfirmed]="transaction.confirmations < 6" [class.icon-confirmed]="transaction.confirmations >= 6" name="checkmark-circle"></ion-icon> {{ (transaction.timestamp * 1000) | date:dateTimeFormat }}</p>           
            </ion-item>
            <ion-item-options>
                <button ion-button  (click)="openTransaction(transaction._id)">
                    <ion-icon name="link"></ion-icon> Link                    
                </button>
                <button ion-button color="primary" (click)="openTransactionDetails(transaction._id)">
                    <ion-icon name="search"></ion-icon> Info
                </button>                
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <div *ngIf="transactions.length <= 0" class="no-transactions">{{ 'TEXT.NO_TRANSACTIONS' | translate }}</div>

    <ion-infinite-scroll [enabled]="moreContentAvailable" (ionInfinite)="loadTransactions($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

    <ion-fab right bottom>
        <button (click)="export()" ion-fab color="primary"><ion-icon name="download"></ion-icon></button>
    </ion-fab>

</ion-content>