.history {
    
    .unconfirmed {
        color: color($colors, unconfirmed);
    }    
    
    .confirmed {
        color: color($colors, confirmed);
    }

    .no-transactions {
        color: white;
        margin-top:15px;
        text-align: center;
        font-size: 1.2em;
    }

    h2 span {
        color: lightgrey;
    }
}
