.payment {
    height: 100%;
    width: 100%;
    color: #FFF;

    .payment-info {
        padding: 10%;
        height: 30%;
    }

    .payment-qr {
        padding:0 10%;
        text-align: center;
        height: 35%;
    }
    
    .payment-readable-amount {
        text-align: center;
        color: #FFF;
        margin:0;
        font-size:1.8em;
        height: 25%;
        padding: 5% 10% 0 10%;
    }
    
    .payment-info {
        text-align: center;
        font-size: 1.2em;
        .payment-text {
            margin:0;
        }        
    }
    
}

.payment-result {
    height: 100%;
    width: 100%;
    color: $basic-color-white;

    .payment-readable-box {
        height: 22%;
        .payment-readable-amount {
            font-size: $font-size-x-large;
        }

        .payment-readable-amount-type, .payment-readable-amount-btc  {
            font-size: $font-size-medium;
        }
        .first-line-height {
            line-height: $font-size-x-large;
        }
        .second-line-height {
            line-height: $font-size-medium;
        }
    }


    .result-box {
        height: 70%;
        text-align: center;

        .payment-result-icon {
            padding: 20% 10% 5% 10%;
            font-size: 8.0rem;
        }

        .payment-result-text {
            font-size: $font-size-small;
        }

    }

    .history-btn {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        .button-show-history {
            border-radius: $button-border-radius;
        }
    }

}