@import "scss/buttons";
@import "scss/content";
@import "scss/logo";
@import "scss/md";
@import "scss/menu";
@import "scss/payment";
@import "scss/utilities";
@import "scss/numpad";

.toolbar-title-md {
    text-align:left !important;
}

.toolbar-title-ios {
    padding-top:12px;
}

ion-app, ion-app.ios {
    background-color: transparent !important;
    background: transparent !important;    
}
