<ion-header>
    <ion-navbar>    
        <button ion-button menuToggle="left"><ion-icon name="menu"></ion-icon></button>
        <ion-title>{{ 'TITLE.ACCOUNTS' | translate }}</ion-title>
        <ion-buttons end>
            <bitpocket-logo></bitpocket-logo>         
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-card *ngFor="let account of accounts; let i = index">
        <ion-item>
            <ion-avatar item-left>                
                <img *ngIf="account.icon == 'bitcoin'" src="assets/img/bitcoin-logo.png">
                <img *ngIf="account.icon == 'testnet'" src="assets/img/testnet-logo.png">
            </ion-avatar>
            <h2>{{ account.name }}</h2>
            <p>{{ 'TEXT.' + account.type | translate }}</p>
        </ion-item>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <button (click)="openAccountHistory(i)" block ion-button small icon-left><ion-icon name="list"></ion-icon>{{ 'BUTTON.HISTORY' | translate }}</button>
                </ion-col>
                <ion-col>
                    <button (click)="openAccountEditForm(i)" block ion-button small icon-left><ion-icon name="create"></ion-icon>{{ 'BUTTON.EDIT' | translate }}</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>

    <ion-fab right bottom>
        <button (click)="openAccountCreateForm()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>